/**
 * This is a demo stylesheet for jmpress.js
 * It is not meant to be a part of jmpress.js and is not required by jmpress.js.
 */

/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1;
    font-weight: bold;
    pointer-events: none;
    border-width: 0px !important;

    -webkit-transform: translate3d(0,0,1px);
    -moz-transform:    translate3d(0,0,1px);
    -ms-transform:     translate3d(0,0,1px);
    -o-transform:      translate3d(0,0,1px);
    transform:         translate3d(0,0,1px);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** GENERAL **/
body {
    -webkit-font-smoothing: antialiased;
}
b, strong { font-weight: bold }
i, em { font-style: italic}
a {
    color: inherit;
    text-decoration: none;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    pointer-events:     auto;
}

#nested-jmpress {
    -webkit-transform: translate3d(0,0,1px);
    -moz-transform:    translate3d(0,0,1px);
    -ms-transform:     translate3d(0,0,1px);
    -o-transform:      translate3d(0,0,1px);
    transform:         translate3d(0,0,1px);
}

#jmpress {
    opacity: 1;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/** COMMON STEP STYLES **/
.step, .nested-step {
    z-index: 2;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    pointer-events: auto;
}

/* fade out inactive slides */
.step, .nested-step {
    -webkit-transition: 1s;
    -moz-transition:    1s;
    -ms-transition:     1s;
    -o-transition:      1s;
    transition:         1s;
}

.step:not(.active):not(.nested-active) {
    z-index: 1;
    opacity: 0.3;
}

/** PRINT STYLE **/
@media print {
    body, .ui-state-default {
        background: white;
    }
    #jmpress {
        width: auto;
        margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
    }
    .step {
        page-break-after: always;
        opacity: 1;
        clear: both;
        display: block;
        float: none !important;
        position: relative;
        margin: 20px auto;

        -webkit-transition: rotate(0deg);
        -moz-transition:    rotate(0deg);
        -ms-transition:     rotate(0deg);
        -o-transition:      rotate(0deg);
        transition:         rotate(0deg);
    }
    .step:not(.active) {
        opacity: 1;
    }
}
